.nav-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px 0px;
    width: 100%;
    background-color:black;
    color: white;
    border-bottom: 2px solid  #d1f532;
}

.nav-bar .nav-bar__list {
    display: flex;
    justify-content: space-around;
}

.list__item i {
    color: #d1f532;
    font-size: 30px;  
    opacity: 0.8;
}