/* news header */
.news .page-header {
    margin-bottom: 30px;
}

.news-header__title .title__urgent,
.news-header__title .title__fun,
.news-header__title .title__entertainment,
.news-header__title .title__sports {
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.news-header__title .title__main {
    color: #d1f532;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 22px;
    border-bottom: 4px solid  #d1f532; 
}

.news-header__title .title__icon i {
    font-size: 25px;
    color: #d1f532;
    opacity: 0.5;
}

/* news advertising */
.advertising__img .img__img {
    height: 90px ;
    width: 570px;
    margin-bottom: 30px;
     border-radius: 5px;
}

/* news list */
.news-list__content {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #2c2c2b;
}

.news-list .news-list__content .list__content {
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    opacity: 0.8;
}

/* news news */
.news-img {
    display: flex;
    justify-content: space-between;
}

.news-news__column img {
    width: 280px;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.news__content {
    color: white;
}

/* news #search start */
.news-advertising__bottom {
    margin: 20px 0px;
}

.advertising__bottom .img__img {
    width: 570px;
    height: 180px;
    border-radius: 45px;
}

/* new search */
.news-search {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 5px solid yellow;
    border-radius: 15px;
}

.search__check {
    color: yellow;
    font-size: 28px;
    width: 600;
}

.search__engine,
.search__icon {
    color: white;
    font-size: 25px;
    opacity: 0.5;
}

.news-tag .tag__column-1,
.news-tag .tag__column-2 {  
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.news-tag .tag__column-2 {
    margin-bottom: 100px;
}

.tag__tag {
    background-color: gainsboro;
    margin-right: 30px;
    padding: 10px 10px;
    border: 2px solid  gainsboro;
    border-radius: 45px;
}

